# Mac OS X files
.DS_Store

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Temporary files
*.swp
*~

# Test binary, build with `go test -c`
*.test

# Dependency directories
vendor/

# Project binaries
bin/
