\begin{axis}[
	width=0.8\textwidth,
	height=0.65\textwidth,
	xmin=__{.X.Min}__, xmax=__{.X.Max}__,
	ymin=__{.Y.Min}__, ymax=__{.Y.Max}__,
	axis x line*=bottom,
	axis y line*=left,
	xlabel={__{.X.Label}__},
	ylabel={__{.Y.Label}__},
	x tick label style={
		yshift=-0.5ex,
		xshift=-0.5ex,
	},
	y tick label style={
		xshift=-0.5ex,
	},
	scaled x ticks=false,
	scaled y ticks=false,
	xmajorgrids=true,
	ymajorgrids=true,
	major grid style={solid, line width=0.5pt, draw=gray!50},
	legend cell align=left,
	legend style={at={(1.025, 0.5)},
				  anchor=west,
				  cells={align=left},
				  legend columns=2,
				  font=\footnotesize
				  },
	cycle list name=plain_list,
	smooth
]
__{range .Tables -}__
__{template "table.tmpl" . -}__
__{- end -}__
\end{axis}
